body {
  margin: 0px;
}

.header {
  display: flex;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  background-color: white;
  border-bottom: thin solid black;
  margin-top: 10px;
}

#logo {
  display: inline-flex;
  color: MediumAquamarine;
  align-items: center;
  padding: 10px 20px;
}

#logo p {
  padding-left: 15px;
}

nav {
  display: inline-flex;
  align-items: center;
  padding: 10px;
}

nav span {
  display: inline-block;
  padding: 15px;
}

nav a {
  color: black;
}
