body {
  margin: 0px;
}

.header {
  display: flex;
  font-family: verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  background-color: white;
  border-bottom: thin solid black;
  padding: 10px;
  position: fixed;
  width: 100%;

}

#logo {
  display: inline-flex;
  color: MediumAquamarine;
  align-items: center;
  padding: 10px 20px;
}

#logo p {
  padding-left: 15px;
}

nav {
  display: inline-flex;
  align-items: center;
  padding: 10px;
}

nav span {
  display: inline-block;
  padding: 15px;
}

nav a {
  color: black;
}

/*main content*/

.main-content {
  display: flex;
  padding-top: 110px;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 10px;
}

.column {
  padding-left: 10px;
  padding-right: 10px;
}

.column #large {
  width: 630px;

}

.column #medium {
  width: 300px;
}

.column #small {
  width: 240px;
}

#story1-headline {
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  background-size: 100%;
  font-family: georgia;
  font-weight: bold;
  font-size: 40px;
  color: white;
  min-width: 630px;
  min-height: 300px;
  align-items: center;
}

#story1-body, #story2, #story4, #story6, #story7-body {
  font-family: georgia;
  font-size: 17px;
  color: black;
}

#story2, #story4 {
  max-width: 300px;
  min-height: 300px;
}

#story3 {
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
  background-size: 100%;
  font-family: georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  max-width: 300px;
  min-height: 300px;
  align-items: center;
  justify-content: center;
}

#substories {
  flex-wrap: wrap;
  display: inline-block;
}

#story5 {
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
  background-size: 100%;
  font-family: georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  max-width: 300px;
  min-height: 300px;
  align-items: center;
  justify-content: center;
}

#story7-headline {
  display: flex;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
  background-size: 100%;
  font-family: georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  max-width: 300px;
  min-height: 300px;
  align-items: center;
}

.story8 {
  display: flex;
  flex-direction: column;
}

#NewsBites {
  display: inline-flex;
  font-size: 16px;
  font-weight: bold;
  justify-content: center;
}

#BiteItem {
  display: inline-flex;
  margin: 0;
  border-bottom: thin solid black;
  background-color: whitesmoke;
  font-family: verdana;
  font-size: 12px;
  color: dimgray;
  justify-content: flex-start;
  width: 90%;
  padding: 5px;
}

/*footer*/

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: MediumAquamarine;
  margin: auto;
  font-family: verdana;
  font-size: 12px;
  color: black;
  border-top: 10px;
  min-height: 300px;
}

.footer a{
  color: black;
  padding: 10px;
  display: inline-block;
}

div.copyright {
  align-items: flex-end;
}

#name {
  display: inline-flex;
  font-family: georgia;
  font-size: 16px;
  font-weight: bold;
  border-right: thin solid white;
  padding: 10px;
  color: white;
}
