.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  display: flex;
  border-bottom: medium none black;
}

#logo {
  display: flex;
  padding-left: 100px;
}

#nav {
  display: inline-block;
  color: black;
  justify-content: center;

}
